body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #353535;
}
.container {
    background-color: #474040;
    border-radius: 10px;
    justify-content: center;
   
}

.form {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 50px 50px;
    padding-left: 50px;
}

.submit-btn {
    margin-left: 80px;
    border-radius: 20px;
}

.submit-btn:hover {
    background-color: #6c757d;
}

.correct-input {
    text-align: center;
}

.submitted {
    transition: ease-in-out;
}

.argument {
    display: flex;
    width: 600px;
    margin: auto;
    align-items: center;
}
.argue-btn {
    display: flex;
    padding: 20px;
    align-items: center;
}

.argue-btn > h2 {
    padding-left: 10px;
    padding-right: 10px;
}

.argue-btn > button {
    margin: 0 auto;
    height: 50px;
    width: 100px;
}
